@font-face {
    font-family: Dana;
    src: url(../font/dana/Dana.ttf);
}

@font-face {
    font-family: Dana;
    src: url(../font/dana/Dana-Bold.ttf);
    font-weight: 50;
}

@font-face {
    font-family: Dana;
    src: url(../font/dana/Dana-Light.ttf);
    font-weight: 100;

}

body {
    direction: rtl;
    text-align: justify;
    margin: 30px;

    font-family: Dana;
}

h1 {
    font-weight: 50;
}

p {
    font-weight: normal;
}

span {
    font-weight: 100;
}