.home {
    width: 50px;
    height: 50px;
    background-image: url(../photo/icons.gif);
    background-size: 148px 101px;
    background-position: 147px 101px;
    border: none;
    border-radius: 7px;
}

.back {
    width: 50px;
    height: 50px;
    background-image: url(../photo/icons.gif);
    background-size: 160px 101px;
    background-position: 264px 101px;
    border: none;
    border-radius: 7px;
}

.next {
    width: 50px;
    height: 50px;
    background-image: url(../photo/icons.gif);
    background-size: 162px 101px;
    background-position: 51px 101px;
    border: none;
    border-radius: 7px;
}

.home:hover {
    background-position: 147px 50px;
}

.back:hover {
    background-position: 104px 50px;
}

.next:hover {
    background-position: 213px 50px;
}