:root {
    --primary-color: blue;
    --primary-font: 22px;
}


h1 {
    font-size: var(--primary-font);
    color: var(--primary-color, gold);
}

p {
    font-size: var(--primary-font);
    color: var(--primary-color, gold);
}

span {
    font-size: var(--primary-font);
    color: var(--primary-color, gold);
}