body {
    padding: 10px;
}

.fa {
    direction: rtl;
    text-align: right;
    text-align: justify;
    text-align-last: right;
    text-indent: 30px;
    line-height: 2;
    text-decoration: overline;
}

.en {
    text-align: justify;
    /* text-transform: uppercase; */
    line-height: 1.5;
    word-spacing: 10px;
    /* letter-spacing: 5px; */
    /* white-space: pre-line; */
    text-shadow: 3px 5px 10px blue;

}

a {
    text-decoration: none;
    border-bottom:1px solid red ;
    padding-bottom: 10px;
}