body{
    padding: 0;
}

.task {
    border: 2px solid green;
    width: 400px;
    height: 200px;
    text-align: center;
    /* margin: auto; */
    box-sizing: border-box;
}

.task2 {
    border: 2px solid red;
    width: 80%;
    height: 200px;

}

.img {
    text-align: right;
    margin-right: 200px;
    float: right;

}

.all {
    margin-left: 200px;
    /* float: left; */
    display: block;
}

.ss{
    width: 400px;
    height: 200px;
    margin: auto;
    display: block;
    margin-top: 50px;
}