@import "variables";

@import "components/button";
@import "components/card";
@import "components/form";


ul {
    padding: 0;
    list-style-type: none;

    li {
        background-color: red;

        a {
            // font-weight: bold;
            // font-size: 25px;

            font: {
                weight: bold;
                size: 25px;
            }
        }

        // اشاره میکنه به امان پرنت
        &:hover {
            background-color: gold;
        }
    }

    // li:hover{
    //     background-color: gold;
    // }

}