.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .image-container {
    margin: 0px 15px;
    margin-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.image-container img {
    width: 30vw;
}

.filter-blur {
    filter: blur(50px);
}

.filter-brightness {
    filter: brightness(40%);
}

.filter-contrast {
    filter: contrast(150%);
}

.filter-drop-shadow {
    filter: drop-shadow(0px 30px 12px grey);
    
}

.filter-box-shadow {
    box-shadow: 0px 30px 12px 0px grey;
}

.filter-grayscale {
    filter: grayscale(60%);
}

.filter-hue-rotate {
    filter: hue-rotate(40deg);
}

.filter-invert {
    filter: invert(80%);
}

.filter-opacity {
    filter: opacity(50%);
}

.filter-saturate {
    filter: saturate(200%);
}

.filter-sepia {
    filter: sepia(80%);
}

body {
    margin: 0px;
    padding: 20px;
    background-image: url('../images/image.jpg');
    /* filter: blur(10px); */
    backdrop-filter: blur(10px);
}