.container{
    max-width: 400px;
    margin: auto;
}

h1{
    position: relative;
    padding-right:30px ;

}

.h1::before{
    content:"";
    width: 24px;
    height: 24px;
    background-color: blue;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto 0;
}
